html, body {
    height: 100%;
    margin: 0;

}
div {
    height: 100%;
    float: left;
}
#left {
    width: 33%;
    float:left;
    background-color: black;
}
#center {
    width:34%;
    display:inline-block;
   

}
#right {
    width: 33%;
    float:right;
    background-color: black;
}

header {
    
    background: white;
    margin: auto;
    width: 34%;   
    border: 3px solid black;
}

}

