.table-view .scroll-bar{
    -fx-background-color: transparent;

}
.table-view .scroll-bar .thumb{

    -fx-background-radius: 5px;
    -fx-background-color: lightslategray;
    -fx-opacity: 0.2;
}

.table-view .column-header-background .label{
    -fx-font-size: 12px;
}